
h1 {
	text-align: center ;text-decoration : underline
	
}
button { text-align: right ;}

body{

background-color:#ADD8E6}

h3 {
height: 5px;
padding-left: 5px; 
    display:inline-block; 
     }

input[type="search"] {
  position: absolute;
  right: 0;
  margin-right: 40px;
}
